################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/tipoPrueba/.vs/tipoPrueba/v15/Server/sqlite3/db.lock
